<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpS1p3meN5IF-k9gzz3vXi4JSPeKmGegw</string>
	<key>GCM_SENDER_ID</key>
	<string>869774020008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.knlid.mobile</string>
	<key>PROJECT_ID</key>
	<string>knlid-c5cde</string>
	<key>STORAGE_BUCKET</key>
	<string>knlid-c5cde.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869774020008:ios:7e3f6c2eabb835699a219d</string>
</dict>
</plist>